# Domains
APP_DOMAIN=app.loikmon.org
API_DOMAIN=api.loikmon.org

# Traefik / Let's Encrypt
ACME_EMAIL=your@email.com

# Node BFF
PORT=4000
NODE_ENV=production
LOIKMON_API_BASE=https://loikmon.org/webapis
CORS_ORIGINS=https://app.loikmon.org
